nodered/data/flows.json
[
    {
        "id": "tab_snapshot",
        "type": "tab",
        "label": "Sensor snapshot",
        "disabled": false,
        "info": "LorBee merged Zigbee state: MQTT lorbee/edges/<EDGE_ID>/sensors/latest + edge/sensors/latest, data/snapshot/latest.json on host, GET /api/lorbee/v1/sensors"
    },
    {
        "id": "mqtt_broker_1",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "comment_snapshot",
        "type": "comment",
        "z": "tab_snapshot",
        "name": "LorBee: file data/snapshot/latest.json, MQTT lorbee/edges/<EDGE_ID>/sensors/latest, HTTP /api/lorbee/v1/sensors",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_in_bridge_devices",
        "type": "mqtt in",
        "z": "tab_snapshot",
        "name": "bridge/devices",
        "topic": "zigbee2mqtt/bridge/devices",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [["func_z2m_bridge_map"]]
    },
    {
        "id": "func_z2m_bridge_map",
        "type": "function",
        "z": "tab_snapshot",
        "name": "IEEE map + re-key devices",
        "func": "function normIeee(s) {\n    if (!s) return null;\n    const x = String(s).toLowerCase();\n    return /^0x[0-9a-f]{16}$/.test(x) ? x : null;\n}\nfunction applyEdgeMeta(snap) {\n    const raw = env.get('EDGE_ID') || 'default';\n    const edge_id = String(raw).replace(/[^a-zA-Z0-9_.-]/g, '_').slice(0, 64) || 'default';\n    snap.edge_id = edge_id;\n    snap.source = 'lorbee.edge-snapshot';\n    return edge_id;\n}\nlet raw = msg.payload;\nif (typeof raw === 'string') {\n    try { raw = JSON.parse(raw); } catch (e) { return null; }\n}\nif (!Array.isArray(raw)) return null;\nconst map = {};\nconst ieeeToFriendly = {};\nfor (const d of raw) {\n    if (d.friendly_name && d.ieee_address) {\n        const fn = String(d.friendly_name);\n        const ie = String(d.ieee_address).toLowerCase();\n        map[fn] = ie;\n        ieeeToFriendly[ie] = fn;\n    }\n}\nglobal.set('z2m_friendly_to_ieee', map);\nglobal.set('z2m_ieee_to_friendly', ieeeToFriendly);\nconst snap = global.get('sensor_snapshot');\nif (snap && typeof snap === 'object' && snap.devices && Object.keys(snap.devices).length) {\n    const nd = {};\n    for (const k of Object.keys(snap.devices)) {\n        const nk = normIeee(k) || map[k] || k;\n        if (!nd[nk]) nd[nk] = Object.assign({}, snap.devices[k]);\n        else Object.assign(nd[nk], snap.devices[k]);\n    }\n    for (const ie of Object.keys(nd)) {\n        const fn = ieeeToFriendly[ie];\n        if (fn) nd[ie] = Object.assign({}, nd[ie], { friendly_name: fn });\n    }\n    snap.devices = nd;\n    snap.device_labels = Object.assign({}, ieeeToFriendly);\n    snap.schema_version = 2;\n    const edgeId = applyEdgeMeta(snap);\n    global.set('sensor_snapshot', snap);\n    const t1 = 'lorbee/edges/' + edgeId + '/sensors/latest';\n    return [\n        { payload: snap, topic: t1 },\n        { payload: snap, topic: 'edge/sensors/latest' },\n        { payload: JSON.stringify(snap, null, 2) }\n    ];\n}\nreturn null;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            ["mqtt_out_lorbee_snap"],
            ["mqtt_out_legacy_snap"],
            ["file_edge_snap"]
        ]
    },
    {
        "id": "mqtt_in_z2m_all",
        "type": "mqtt in",
        "z": "tab_snapshot",
        "name": "zigbee2mqtt/#",
        "topic": "zigbee2mqtt/#",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [["func_merge_snapshot"]]
    },
    {
        "id": "func_merge_snapshot",
        "type": "function",
        "z": "tab_snapshot",
        "name": "Merge device payloads",
        "func": "function normIeee(s) {\n    if (!s) return null;\n    const x = String(s).toLowerCase();\n    return /^0x[0-9a-f]{16}$/.test(x) ? x : null;\n}\nfunction applyEdgeMeta(snap) {\n    const raw = env.get('EDGE_ID') || 'default';\n    const edge_id = String(raw).replace(/[^a-zA-Z0-9_.-]/g, '_').slice(0, 64) || 'default';\n    snap.edge_id = edge_id;\n    snap.source = 'lorbee.edge-snapshot';\n    return edge_id;\n}\nconst topic = msg.topic || '';\nconst parts = topic.split('/').filter(Boolean);\nif (parts.length < 2 || parts[0] !== 'zigbee2mqtt') return null;\nif (parts[1] === 'bridge') return null;\nconst devName = parts.slice(1).join('/');\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch (e) { return null; }\n}\nif (typeof payload !== 'object' || payload === null || Array.isArray(payload)) return null;\nlet snap = global.get('sensor_snapshot');\nif (!snap || typeof snap !== 'object') {\n    snap = { schema_version: 2, source: 'lorbee.edge-snapshot', edge_id: null, updated_at: null, devices: {}, device_labels: {} };\n}\nconst map = global.get('z2m_friendly_to_ieee') || {};\nconst labels = global.get('z2m_ieee_to_friendly') || {};\nconst canonical = normIeee(devName) || map[devName] || null;\nconst storageKey = canonical || devName;\nif (canonical) {\n    for (const k of Object.keys(snap.devices)) {\n        if (k === storageKey) continue;\n        const kIeee = normIeee(k) || map[k] || null;\n        if (kIeee === canonical) delete snap.devices[k];\n    }\n}\nlet out = payload;\nif (labels[storageKey]) {\n    out = Object.assign({}, payload, { friendly_name: labels[storageKey] });\n}\nsnap.devices[storageKey] = out;\nsnap.device_labels = Object.assign({}, labels);\nsnap.updated_at = new Date().toISOString();\nsnap.schema_version = 2;\nconst edgeId = applyEdgeMeta(snap);\nglobal.set('sensor_snapshot', snap);\nconst t1 = 'lorbee/edges/' + edgeId + '/sensors/latest';\nreturn [\n    { payload: snap, topic: t1 },\n    { payload: snap, topic: 'edge/sensors/latest' },\n    { payload: JSON.stringify(snap, null, 2) }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            ["mqtt_out_lorbee_snap"],
            ["mqtt_out_legacy_snap"],
            ["file_edge_snap"]
        ]
    },
    {
        "id": "mqtt_out_lorbee_snap",
        "type": "mqtt out",
        "z": "tab_snapshot",
        "name": "lorbee/edges/…/sensors/latest",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_1",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "mqtt_out_legacy_snap",
        "type": "mqtt out",
        "z": "tab_snapshot",
        "name": "edge/sensors/latest",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_1",
        "x": 640,
        "y": 130,
        "wires": []
    },
    {
        "id": "file_edge_snap",
        "type": "file",
        "z": "tab_snapshot",
        "name": "snapshot/latest.json",
        "filename": "/data/snapshot/latest.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "http_in_api_sensors",
        "type": "http in",
        "z": "tab_snapshot",
        "name": "GET /api/sensors",
        "url": "api/sensors",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [["func_http_snapshot"]]
    },
    {
        "id": "http_in_api_lorbee_v1",
        "type": "http in",
        "z": "tab_snapshot",
        "name": "GET /api/lorbee/v1/sensors",
        "url": "api/lorbee/v1/sensors",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 360,
        "wires": [["func_http_snapshot"]]
    },
    {
        "id": "func_http_snapshot",
        "type": "function",
        "z": "tab_snapshot",
        "name": "JSON + CORS headers",
        "func": "const raw = env.get('EDGE_ID') || 'default';\nconst edge_id = String(raw).replace(/[^a-zA-Z0-9_.-]/g, '_').slice(0, 64) || 'default';\nconst snap = global.get('sensor_snapshot') || {\n    schema_version: 2,\n    source: 'lorbee.edge-snapshot',\n    edge_id,\n    updated_at: null,\n    devices: {},\n    device_labels: {},\n    note: 'no_zigbee_data_yet'\n};\nif (!snap.edge_id) snap.edge_id = edge_id;\nmsg.payload = snap;\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json; charset=utf-8', 'Cache-Control': 'no-cache', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 330,
        "wires": [["http_resp_snapshot"]]
    },
    {
        "id": "http_resp_snapshot",
        "type": "http response",
        "z": "tab_snapshot",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 660,
        "y": 330,
        "wires": []
    }
]
